// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: black;
$body-color: #fdfcdc;
$primary: #fdfcdc;
// $font-family-base: Arial;
$font-family-base: "Roboto Mono", monospace;
$enable-responsive-font-sizes: true;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  align-items: baseline;
  background-color: #161a1d;
}

.nav-item:hover {
  opacity: 0.7;
}

.fa {
  padding: 5px;
  font-size: xx-large;
}
.fa:hover {
  text-decoration: none;
  opacity: 0.7;
}

#imprint {
  padding: 5px;
  // color: #fdfcdc;
}

#imprint:hover {
  text-decoration: none;
  opacity: 0.7;
}

.jumbotron {
  background-color: #fdfcdc;
  color: black;
}

#about {
  min-height: 100vh;
  padding-top: 80px;
}

#skilltool,
#interests {
  padding-top: 80px;
}

#profile {
  border-radius: 50%;
  border: 2px;
  width: 20vw;
}

.card {
  margin: 20px;
  background-color: #fdfcdc;
  color: black;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.progress-bar {
  background-color: black;
}

.picdescription {
  color: #fdfcdc;
  text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black,
    -1px -1px 0px black;
}

.carousel-item img {
  // position: absolute;
  object-fit: cover;
  // top: 0;
  // left: 0;
  min-height: 50vh;
  max-height: 600px;
}
